<h1>質問編集</h1>
<%= form_with model:@question, local:true do |question| %>
<div>
  <div>
    <label>タイトル</label>
    <div>
      <%= question.text_field :title %>
    </div>
  </div>
  
  <div>
    <label>本文</label>
    <div>
      <%= question.text_area :body %>
    </div>
  </div>
  
  <div>
    <%= question.submit '更新', class:"" %>
  </div>
</div>
<% end %>