<div class="top">
  <h2 class="top__title">質問作成</h2>
</div>

<%= form_with model:@question, local:true do |question| %>
<div class="area">
  <div class="edit">
    <div class="edit__item">
      <label class="edit__label">質問文（必須）</label>
      <div><%= question.text_area :body, class: "edit__body", wrap:"hard" %></div>
    </div>

    <div class="edit__item">
      <%= question.submit '質問投稿', class:"edit__btn" %>
    </div>
  </div>
</div>
<% end %>