<div class="top">
  <h2 class="top__title">フォロー</h2>
</div>

<div class="area">
  <% @users.each do |users| %>
    <div class="follow-user">
        <div class="follow-user__left">
          <%= attachment_image_tag users, :profile_image, fallback: "no_image.jpg", class:"follow-user__img", size:"10x10" %>
        </div>
        <div class="follow-user__center">
          <span>
            <%= link_to user_path(users), class:"follow-user__name" do %>
              <%= users.name %>
            <% end %>
          </span>
        </div>
        <div class="follow-user__right">
          <span><%= render "follow_form", user: users %></span>
        </div>
    </div>
  <% end %>
</div>