/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

//
// header部分ここから
//
.header {
  width: 100%;
  height: 80px;
  padding: 15px 0;
  margin: 0 auto;
  position: relative;
  background-color: #1d3557;
  border-bottom: 2px solid #014f86s;

  &__nav {
    // background-color: blue;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__logo {
    text-decoration: none;
  }

  &__logo-text {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-family: 'Lobster', cursive;
  }

  &__logo-text:hover {
    color: #c6ac8f;
  }

  &__menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    // background-color: yellow;
  }

  &__list {
    margin-left: 20px;
  }

  &__link {
    font-size: 15px;
    text-decoration: none;
  }

}

.header__link:link, .header__link:visited, .header__link:active {
  color: #fff;
}

.header__link:hover {
  color: #c6ac8f;
}

.fa-home {
  color: #fff;
}

//
// main部分ここから
//
.main {

}

// main部分ここまで

.heart {
  text-decoration: none;
  color: #E85A70;
}

.confim-text {
  margin: 5px 0 5px 0;
}