/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

//
// header部分ここから
//
.header {
  width: 100%;
  height: 80px;
  padding: 15px 0;
  margin: 0 auto;
  position: relative;
  background-color: #1d3557;
  border-bottom: 2px solid #014f86;

  &__nav {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__logo {
    text-decoration: none;
  }

  &__logo-text {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-family: 'Lobster', cursive;
  }

  &__logo-text:hover {
    color: #c6ac8f;
  }

  &__menu {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__list {
    margin-left: 20px;
  }

  &__link {
    font-size: 15px;
    text-decoration: none;
  }

}

.header__link:link, .header__link:visited, .header__link:active {
  color: #fff;
}

.header__link:hover {
  color: #c6ac8f;
}

.fa-home {
  color: #fff;
}

//
// main部分ここから
//
.main {

}

// main部分ここまで

.heart {
  text-decoration: none;
  color: #E85A70;
}

.confim-text {
  margin: 5px 0 5px 0;
}


// homeページ
.container {
  width: 100%;
  height: auto;
  padding: 200px 0;
  background-image: image-url("top5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__top {
    width: 30%;
    height: 120px;
    margin: 0 auto;
    padding: 30px 0;
    background:rgba(192,192,192,0.3);
  }

  &__text {
    color: #fff;
    font-size: 15px;
    text-align: center;
  }

  &__header {
    color: #ff9900;
    font-size: 30px;
    text-align: center;
    font-family: 'Lobster', cursive;
  }

  &__link {
    width: 30%;
    height: 100px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    padding: 30px 0;
    background:rgba(192,192,192,0.5);
  }

  &__btn {
    text-decoration: none;
    color: #fff;
    background-color: #0066ff;
    border-radius: 100vh;
    padding: 8px 16px;
    margin-left: 20px;
  }

  &__btn:hover {
    background-color: #0055ff;
  }
}

.login {
  width: 600px;
  padding: 30px;
  margin: 50px auto;
  border: 3px solid #6d6875;

  &__title {
    font-size: 30px;
    padding: 0 65px;
    text-align: center;
    border-bottom: 3px solid #6d6875;
  }

  &__list {
    width: 500px;
    margin: 30px auto;
  }

  &__label {
    padding: 2px 2px;
    border-left: 2px solid #000;
  }

  &__field {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 2px;
  }

  &__btn {
    width: 100%;
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
    background-color: #0066ff;
    border-radius: 100vh;
    padding: 10px 16px;
    text-align: center;
    border: none;
    font-size: 15px;
  }

  &__btn:hover {
    background-color: #0055ff;
  }
}

.actions {
  width: 100px;
  margin: 30px auto;
}

.user-info {
  height: auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;

  &__icon {
    width: 400px;
    height: 200px;

    &--trim {
      position: relative;
      overflow: hidden;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #ddd;
    }

    &--trim-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      height: 100%;
    }
  }

  &__text {
    width: 380px;
    margin-top: 10px;
  }

  &__list {
    list-style: none;
    margin-bottom: 20px;
    padding-bottom: 3px;
  }

  &__follow {
    display: flex;

    &--follower {
      margin-right: 10px;
    }

    &--follow {

    }
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #fff;/*ボタン色*/
    color: #000;
    border: solid 1px #000;
    border-radius: 10px;
  }

  &__link:hover {
    background-color: #eee;/*ボタン色*/
  }
}

.follow-user {
  width: 80%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #ddd;

  &__left {
    margin-right: 20px;
  }

  &__img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }

  &__center {
    text-decoration: none;
  }

  &__name {
    text-decoration: none;
    color: #000;
  }

  &__name:hover {
    color: #0066ff;
  }

  &__right {
    margin-left: auto;
  }

  &__btn-blue {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #0066ff;/*ボタン色*/
    color: #FFF;
    border: none;
    border-radius: 10px;
  }

  &__btn-blue:hover {
    background-color: #0055ff;/*ボタン色*/
  }

  &__btn-red {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #cc342d;/*ボタン色*/
    color: #FFF;
    border: none;
    border-radius: 10px;
  }

  &__btn-red:hover {
    background-color: #cc122d;/*ボタン色*/
  }
}