<h2>検索結果 "<%= @keyword %>"</h2>
<di>
  <ul>
    <% @reports.each do |reports| %>
    <li>
      <%= link_to report_path(reports.id) do %>
        <%= reports.title %><br>
        <%= reports.body %>
      <% end %>
    </li>
    <% end %>
  </ul>
</di>